.container-center-label-above-field{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-main{
    margin-bottom: 500px;
}
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  
  .client-detail-credential {
    background-color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .client-detail-credential.hovered {
    background-color: #f0f0f0; 
  }  
  
  @media print {
    /* Hide the Brand component when printing */
    .btn, .brand-btn-b {
      display: none;
    }
    body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      font-size: 12px;
    }
    .container {
      width: 100vw;
      height: 100%;
      overflow: hidden;
    }
    .table-resize{
      width: 100%;
      font-size: 10px;
    }
    .table td {
      white-space: normal !important;
      word-wrap: break-word;
    }
    .table-header{
      font-size: 10px;
    }
  }